<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Burger Form</title>
</head>
<body>
    <form action="/update/{{burger['id']}}" method="post" class="p-3 col-4 mx-auto mt-5 bg-dark text-light">
        <h2 class="text-center text-primary">Edit The {{burger['name']}}:</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="name">Burger Name:</label>
            <input type="text" name="name" id="name" class="form-control" value="{{burger['name']}}">
        </div>
        <div class="form-group">
            <label for="bun">Bun:</label>
            <input type="text" name="bun" id="bun" class="form-control" value="{{burger['bun']}}">
        </div>
        <div class="form-group">
            <label for="meat">Meat:</label>
            <input type="text" name="meat" id="meat" class="form-control" value="{{burger['meat']}}">
        </div>
        <div class="form-group">
            <label for="calories">Calories:</label>
            <input type="number" min="0" name="calories" id="calories" class="form-control" value="{{burger['calories']}}">
        </div>
        <div class="form-group">
            <label><b>Toppings:</b></label>
            <label>
                {% for i in range(burger.toppings|length-1) %}
                    <span> {{burger.toppings[i].topping_name}}, </span> 
                {% endfor %}
                <span>{{burger.toppings[burger.toppings|length-1].topping_name}}</span>
            </label>
        </div>
        <input type="submit" value="Update Burger" class="btn btn-primary btn-outline-dark">
    </form>
    <form action="/burger_remove_topping/{{burger['id']}}/" method="post" class="p-3 col-4 mx-auto my-5xxx bg-dark text-light">
        <div class="form-group">
           {# <label><b>Remove Toppings:</b></label>#}
            <select name="topping_id" id="">
                {% for topping in burger.toppings %}
                    <option value="{{topping.id}}"> {{topping.topping_name}} </option> 
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Remove Topping" class="btn btn-primary btn-outline-dark">
    </form>
    <form action="/burger_add_topping/{{burger['id']}}/" method="post" class="p-3 col-4 mx-auto my-5xxx bg-dark text-light">
        <div class="form-group">
            {#<label for="topping_two">Add Topping:</label>#}
            <select name="topping_id" id="">
                {% for topping in remaining_toppings %}
                    <option value="{{topping.id}}">{{topping.topping_name}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Add Topping" class="btn btn-primary btn-outline-dark">
    </form>
</body>
</html>