{% extends "index.html" %}
{% block body %}

<a href="/" class="btn btn-info btn-outline-primary" >Home</a>

{% for topping in all_toppings %}

    <a href="/edit_topping_name/{{topping.id}}/"><p>{{topping.topping_name}}{{topping.id}}</p></a>

{% endfor %}
<form action="/update/{{topping_to_edit.id}}/" method="post" class="p-3 col-4 mx-auto my-5 bg-dark text-light">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <strong>Flash AHHHHHHH!!!!</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div class="form-group">
        <label for="topping_name">Old Topping Name: {{topping_to_edit.topping_name}}</label>
        <br>
        <label for="topping_name">New Topping Name:</label>
        <input type="text" name="topping_name" id="name" class="form-control" value="{{topping_to_edit.topping_name}}">
    </div>
    <input type="submit" value="Edit Topping Name" class="btn btn-primary btn-outline-dark">
</form>

{% endblock body %}